<div *ngIf="pokemon" class="pokemon-container-modal">
  <div class="modal-header">
    <h2>{{ pokemon.name }}</h2>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="onClose()"
    ></button>
  </div>
  <img [src]="pokemon.artworkUrl" alt="{{ pokemon.name }}" />
  <div class="info container pb-5 d-flex flex-column">
    <p>Type: {{ pokemon.type?.[0] }}</p>
    <button
      class="btn"
      (click)="playCry(pokemon!.cries!.latest)"
      [ngStyle]="{ 'background-color': getColorByType(pokemon.type?.[0]) }"
    >
      Play Cry
    </button>
  </div>

  <div *ngIf="evolution" class="evolution-details">
    <h3>Evolution: {{ evolution.id }}</h3>
  </div>
</div>
