<div class="container d-flex flex-wrap justify-content-center">
  <div
    class="pokemon"
    *ngFor="let pokemon of pokemons"
    [ngStyle]="{ 'background-color': getColorByType(pokemon.type?.[0]) }"
    (click)="onSelectPokemon(pokemon)"
  >
    <div class="img-container">
      <img [src]="pokemon.artworkUrl" alt="{{ pokemon.name }}" />
    </div>
    <div class="info">
      <h3 class="name">{{ pokemon.name }}</h3>
      <small class="type"
        >Type: <span>{{ pokemon.type?.[0] }}</span></small
      >
    </div>
  </div>
</div>

<ng-container *ngIf="isModalVisible">
  <div class="modal-backdrop" (click)="onCloseModal()">
    <div class="modal-container d-flex" (click)="$event.stopPropagation()">
      <app-modale [pokemon]="selectedPokemon"></app-modale>
      <button class="close-modal" (click)="onCloseModal()">Close</button>
    </div>
  </div>
</ng-container>
